@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans+Condensed:300|Raleway:400,500,600,700&subset=latin-ext');

html {
    font-size: 1rem;
}

.navbar {
    font-size: 1.2rem;
}

body {
    font-family: 'Raleway', sans-serif;
}

div.container-fluid {
    background-size: cover!important;
    background-attachment: fixed!important;
    min-height: 100vh;
    padding-top: 75px;
}

@media (min-width: 768px) {
    html {
        font-size: 1.1rem;
    }

    .navbar {
        font-size: 1.3rem;
    }

    div.container-fluid {
        padding-top: 90px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.2rem;
    }

    .navbar {
        font-size: 1.4rem;
    }

    div.container-fluid {
        padding-top: 110px;
    }
}

@media (max-width: 991px) {
    .navbar * {
        flex-basis: 30%;
    }
}

.navbar {
    font-family: 'Great Vibes', cursive;
    background-image: linear-gradient(to bottom right, lightpink, lavender);
}

h2.text-center {
    font-family: 'Great Vibes', cursive;
}
