@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,600,700&subset=latin-ext');

html {
    font-size: 1rem;
}

body {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        position: fixed;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.2rem;
    }
}

.navbar {
    font-family: 'Great Vibes', cursive;
}

div.container-fluid {
    background-size: cover!important;
    background-attachment: fixed!important;
    min-height: 100vh;
    padding-top: 56px;
}

div#usContainer > div {
    margin: auto;
}

h2 {
    padding-top: 56px;
}
