html {
    font-size: 1rem;
}

@media (min-width: 768px) {
    html {
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.2rem;
    }
}

div.container-fluid {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 56px;
}

div#usContainer > div {
    margin: auto;
}

h2 {
    padding-top: 56px;
}
