{% set currentPage = "details" %}
{% include "header.html" %}
<div class="container-fluid" style="background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url('{{ url_for('static', filename='seattle.jpg') }}') center center;">
    <div class="row">
        <div id="whenAndWhereContainer" class="col">
            <h2 id="whenAndWhere" class="text-uppercase text-center">When and Where</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            August 10, 2019
            Blah Blah Blah
        </div>
    </div>
</div>
{% include "footer.html" %}
