<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Carey &amp; Joe's Wedding">

        <title>Carey & Joe</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha256-Md8eaeo67OiouuXAi8t/Xpd8t2+IaJezATVTWbZqSOw=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ url_for('static', filename='starter-template.css') }}">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha256-xaF9RpdtRxzwYMWg4ldJoyPWqyDPCRD0Cv7YEEe6Ie8=" crossorigin="anonymous" defer></script>
        <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    </head>

    <body>

        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="navbar">
                <a class="navbar-brand float-lg-left order-1" href="#">Carey & Joe</a>
                <button class="navbar-toggler order-3" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse order-lg-2" id="navbarContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a {% if currentPage == "index" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('index') }}">Our Story</a>
                        </li>
                        <li class="nav-item">
                            <a {% if currentPage == "details" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('details') }}">Details</a>
                        </li>
                        <li class="nav-item">
                            <a {% if currentPage == "registry" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('registry') }}">Registry</a>
                        </li>
                        <li class="nav-item">
                            <a {% if currentPage == "rsvp" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('rsvp') }}">Rsvp</a>
                        </li>
                        <li class="nav-item">
                            <a {% if currentPage == "faq" %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{ url_for('faq') }}">Faq</a>
                        </li>
                    </ul>
                </div>

                <div class="float-lg-right order-2 order-lg-3">
                    #happilyhaltons2019
                </div>
            </nav>
        </header>
