{% set currentPage = "index" %}
{% include "header.html" %}
<div class="container-fluid" style="background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 100%), url('{{ url_for('static', filename='atlanta.jpg') }}') center center;">
    <div class="row">
        <div id="usContainer" class="col">
            <div>
                <h2 id="us" class="text-uppercase text-center">Carey & Joe</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="ourStoryContainer" class="col">
            <h2 id="ourStory" class="text-uppercase">Our Story</h2>
        </div>
    </div>
</div>
{% include "footer.html" %}
